<html class="extend-to-bottom">
<head>
<title>Compool root</title>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script type="text/javascript">
		function pickRandomProperty(obj) {
		    var result;
		    var count = 0;
		    for (var prop in obj)
			if (Math.random() < 1/++count)
			  result = prop;
		    return result;
		};
		
		function millisecondsToStr (milliseconds) {
		    // TIP: to find current time in milliseconds, use:
		    // var  current_time_milliseconds = new Date().getTime();

		    function numberEnding (number) {
			return (number > 1) ? 's' : '';
		    }

		    var temp = Math.floor(milliseconds / 1000);
		    var years = Math.floor(temp / 31536000);
		    if (years) {
			return years + ' year' + numberEnding(years);
		    }
		    //TODO: Months! Maybe weeks? 
		    var days = Math.floor((temp %= 31536000) / 86400);
		    if (days) {
			return days + ' day' + numberEnding(days);
		    }
		    var hours = Math.floor((temp %= 86400) / 3600);
		    if (hours) {
			return hours + ' hour' + numberEnding(hours);
		    }
		    var minutes = Math.floor((temp %= 3600) / 60);
		    if (minutes) {
			return minutes + ' minute' + numberEnding(minutes);
		    }
		    var seconds = temp % 60;
		    if (seconds) {
			return seconds + ' second' + numberEnding(seconds);
		    }
		    return 'less than a second'; //'just now' //or other string you like;
		}
		
		var app = angular.module("SemprebetaApp", []);

		app.controller("JobsCtrl", function($scope, $http, $interval) {
		  $scope.variables = [];
		  
		  // HAL (HATEOAS) traversal
		  // It's long, so true apps should avoid doing this by hand and try to use a HAL traversal helper
		  // from jobs API ROOT
		  console.log("IN JOBS ROOT");
		  $http.get('/jobs').then(function(data) {
			// GET A RANDOM JOB LINK
			console.log("GOT JOBS LINKS");
			var href = data.data._links;
			delete href.self;
			href = href[pickRandomProperty(href)].href;
	  		return $http.get(href);
		  }).then(function(data) {
			// GET A JOB OBJECT
			console.log("GOT A JOB");
			$scope.job = data.data;
			
			// GET THE VARIABLES LINK
			var href = data.data._links;
			href = href['variables'].href;
	  		return $http.get(href);
		  }).then(function(data) {
			console.log("GOT VARIABLES LINKS");
			var href = data.data._links;
			delete href.self;
			href = href[pickRandomProperty(href)].href;
	      		
	  		return $http.get(href);
		  }).then(function(data) {
			console.log("GOT A VARIABLE");
    			$scope.variable = data.data.variable;
		  }).then(function() {
			console.log("COMPUTING STUFF");
    			var funct = $scope.job.execute_function;
    			$scope.funct = new Function("variable, context", funct);
			$interval(function() {
				console.log("Compute a new result");
    				$scope.result = $scope.funct.call(null, $scope.variable, {}).toString(16);
				$scope.variable.hash = $scope.result;
				$scope.result_count = ($scope.result_count || 0) + 1;
			}, 100);
		  });
		});
	</script>
<style>
.background-astano {
	background-image:
		url('http://setedous.com/wp-content/uploads/2014/09/Pórtico-Astano-2.jpg');
	background-size: 100%;
}

.title-colored {
	color: #0B1B42;
}
.no-padding-right {
   padding-right: 0 !important;
}
.extend-to-bottom {
   height: 100%;
}
</style>
</head>
<body class="background-astano extend-to-bottom">
	<nav class="navbar navbar-default navbar-collapse" role="navigation">
		<span class="navbar-brand navbar-left ">Semprebeta {punto} Gal</a>
	</nav>
	<nav class="navbar navbar-default navbar-collapse navbar-fixed-bottom" ng-app="SemprebetaApp" ng-controller="JobsCtrl">
		<div class="list-group-item container">
			<div class="sidebar-brand col-md-4">You're helping people compute stuff, see:</div>
			<div class="col-md-4">{{result | json}}</div>
			<div class="col-md-4" ng-show="result_count != null">Got {{result_count}} results</div>
		</div>
	</nav>
</body>
</html>
