-# encoding: utf-8

%head
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	
	%title CompPool

%body
	#header
		#logo
			A cool logo TBD
	
	#left-threads
		#search-engine
			%h3 Topics:
			%input{:type => :text, :value => "Here there be a list of tags, to filter threads"}
		%ul
			%li Post cats
			%li Install gentoo
			%li Have you seen KLK guise
			
	#body
		%h1 Welcome to comp-pool
		%h2 Have wonderful conversations while we use your computer!
